*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;;
}
/* fist-section */
.logo-section{
  display: flex;
  flex-direction: column;
  background-color: #1f2937;
  color: white;
  height: 400px;
  padding: 20px 10%;
  flex-wrap: wrap;
  flex: auto;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

header h1{
  font-size: 24px;
  color: #f9faf8;

}

header ul{
  display: flex;
  margin: 0;
  padding: 0;
  gap: 10px;
  list-style-type: none;
}

header ul a{
  text-decoration: none;
  color: white;
}

.website-info{
  display: flex;
  gap: 20px;
}

.info{
  width: 50%;
}

.info h2{
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}
.info p{
  font-size: 18px;
  color: #e5e7eb;
  margin-bottom: 10px;
}
button{
  color: white;
  background-color: #3882f6;
  padding: 5px 25px;
  border: none;
  border-radius: 5px;
}

.image-placeholder{
  background-color: gray;
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}


/* This the section section */
.random-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: auto;
  padding:10% 20%;
}
.random-info h2{
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  margin-bottom: 20px;
}
.random-info .info-cards-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-cards-container .image{
  width: 150px;
  height: 150px;
  border:solid 4px #3882f6;
  border-radius: 10px;
  margin-bottom: 10px;
  flex-wrap: wrap;
}
.card p{
  text-align: center;
}

/* Third section */
.quote-section{
  background-color: #e5e7eb;
  padding: 5% 10%;
}
 .quote p{
  font-size: 36px;
  color: #1f2937;
  font-weight: 300;
 }
 .author p{
  display: flex;
  justify-content: flex-end;
  font-weight: 900;
}